@function buildGrid($j, $i) {
  $template: null;
  
  @for $x from 0 to $j {
      $string: '';
      
      @for $y from 0 to $i {
          @if $y > 0 { $string: $string + ' '; }
          $string: $string + $x + "-" + $y;
      }
      
      $template: $template $string;
  }
  
  @return $template;
}

.board-container {
  display: grid;
  width: 16rem;
  height: 16rem;
  margin: 0 auto;
  border: 0.5rem inset white;
  z-index: 10;

  &#easy, &#test {
    grid-template-areas: buildGrid(5,5);
  }
  
  &#regular, &#hard {
    width: 25rem;
    height: 25rem;
    grid-template-areas: buildGrid(8,8);
  }
  
  &#hard {
    grid-template-areas: buildGrid(12,12);
  }
}

