@function buildGrid($j, $i) {
  $template: null;
  
  @for $x from 0 to $j {
      $string: '';
      
      @for $y from 0 to $i {
          @if $y > 0 { $string: $string + ' '; }
          $string: $string + $x + "-" + $y;
      }
      
      $template: $template $string;
  }
  
  @return $template;
}

.board-container {
  display: grid;
  width: 15rem;
  height: 15rem;
  gap: 0;
  margin: 0 auto;

  &#easy, &#test {
    grid-template-areas: buildGrid(5,5);
  }
  
  &#regular {
    width: 30rem;
    height: 30rem;
    grid-template-areas: buildGrid(10,10);
  }
  
  &#hard {
    width: 50rem;
    height: 50rem;
    grid-template-areas: buildGrid(20,20);
  }
}

