.top-panel-container {
  margin: 0 auto;
  border: 0.5rem inset white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  &.easy {
    width: 16rem;
  }
  
  &.regular, &.hard {
    width: 25rem;
  }
}


.flag-counter-container {
  position: absolute;
  left: 0;
}

.avatar-container {
  #avatar {
    width: 4rem;
  }
}

.timer-container {
  position: absolute;
  right: 0;
}

