.tweet-container {
  border: 1px solid black;
  width: 30rem;
  height: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 3% auto 0;

  .tweet-logo {
    width: 4.75rem;
    height: 4.75rem;
    padding: 0;
    
    align-self: center;
  
    background-image: url('../images/twitter.png');
    background-size: 100%;
    background-repeat: no-repeat;

    border: 1px solid red;
  }

  .tweet-content {
    width: 80%;
    border: 1px solid black;
    
    .tweet-help-dialogue {
      border: 1px solid blue;
    }
  
    .tweet-revealed-content {
      border: 1px solid green;
    }
  
    .tweet-hidden-content {
      border: 1px solid pink;
    }
  }

}

